@model List<CandidateManagementMVC.Models.Skill>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br>
<div>
    <a class="btn btn-primary" asp-action="AddSkill">Add New Skill</a>
</div>

<div>
    <h2>Manage Skills</h2>
    <hr />
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    <h4 class="text-secondary"> SKILL</h4>
                </th>
                <th>
                    <h4 class="text-secondary"> ACTION</h4>  
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var skill in Model)
            {
        
            <tr>
                <td>
                    <h4 class="text-secondary"> @skill.SkillName</h4>
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { skillid = skill.SkillId })  |
                    @Html.ActionLink("Edit", "Edit", new { skillid = skill.SkillId })  |
                    <button class="btn-link js-delete" data-skill-id="@skill.SkillId">Delete</button>
                  
                </td>

            </tr>


            }
        </tbody>
    </table>
</div>

@section scripts
{
    <script>
        $(document).ready(function () {

            $(".table-striped .js-delete").on("click", function () {
                console.log("hello");
                var button = $(this);
                if (confirm("Are you sure you want to delete this?")) {
                    console.log(button.attr("data-skill-id"));
                    
                    $.ajax({

                        url: "https://localhost:44349/api/skills/DeleteSkill/" + button.attr("data-skill-id"),
                        method: "DELETE",
                        
                        success: function () {
                            console.log("Record deleted");
                            button.parents("tr").remove();

                        }
                    });
                }

            })
        });
    </script>

}

