
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Success</title>
</head>
<body>
    <hgroup>
        <h1>Success</h1>
        <h2>Your request has been successfully processed.</h2>
    </hgroup>
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</body>
</html>
